.checkbtn{
    font-size: 3rem;
    color: white;
    float: right;
    margin-top: 1rem;
    line-height: 3rem;
    margin-right: 1rem;
    cursor: pointer;
    display: block;
}

#check{
    display: none;
}

.cabecera__logo{
    height: 6rem;
    width: 6rem;
    margin-left: 3rem;
}

.enlace{
    position: absolute;
    padding: 1rem 1rem;
}

.cabecera__titulo{
    color:white;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem 1rem;
}

.cabecera__redes img{
    padding: 1.5rem 5rem;
}

.cabecera__horario-atencion{
    font-size: 1.8rem;
    color: white;
    padding: 1rem 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cabecera__horario-dias{
    font-size: 1.5rem;
    color: white;
    padding: 1rem 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    width: 100%;
}

nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    top: 15rem;
    left: 100%;
    text-align: center;
    transition: all .5s;
}

nav ul li{
    display: block;
    margin: 4rem 0;
    line-height: 2rem;
}

nav ul li a{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

nav ul li a::after{
    content: "";
    display: block;
    background: white;
    width: 40%;
    margin-top: 0.3rem;
    margin-left: 25rem;
    height: 0.3rem;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}

li a:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#check:checked ~ ul{
    left: 0;
}
.pie__empresa{
    font-size: 1.7rem;
}
.principal{
    height: 49rem;
}
/* Redes Sociales */
.principal__redes{
    margin-top: 1.5rem;
}

.principal__redes-gmail img{
    height: 2.9rem;
    width: 2.9rem;
}
.principal__redes-instagram img{
    height: 2.9rem;
    width: 2.9rem;
}
.principal__redes-facebook img{
    height: 2.9rem;
    width: 2.9rem;
}
.principal__redes-whatsapp img{
    height: 2.9rem;
    width: 2.9rem;
}
/* Texto Principal */
.principal__info-texto{
    font-size: 2rem;
    padding:0 2rem 0 2rem;
}

/* Botones */
.principal__botones{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 25rem;
}
.principal__botones-boton1{
    order: 1;
    width: 50%;
    padding: 0 0 0 9rem;
    height: 30rem;
}
.principal__botones-boton2{
    order: 2;
    width: 50%;
    height: 30rem;
    padding-right: 5rem;
}
.principal__botones-boton1 button{
    border-style: none;
    height: 20rem;
    width: 17rem;
}
.principal__botones-boton1 button p{
    font-size: 3rem;
}
.principal__botones-boton2 button{
    border-style: none;
    height: 20rem;
    width: 17rem;
}
.principal__botones-boton2 button p{
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.principal__botones-boton2 button img{
    padding-bottom: 5rem;
}