*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --rojo: #cd3636;
    --azul:#2D2E83;
    --plomo:#737373;
    --negro:black;
}

html{
    font-size: 62.5%;
}

.cuerpo{
    display: flex;
    flex-wrap: wrap;
}

.cabecera, .principal, .principal__info, .principal__redes, .pie{
    width: 100%;
    min-width: 15rem;
    height: 15rem;
}

.cabecera{
    background-color: var(--negro);
}
 
.principal{
    background-color: white;
    height: 55rem;
    display: flex;
    flex-wrap: wrap;
} 

.pie{
    height: 3rem;
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
    font-family: sans-serif;
    font-size: 1.5rem;
}

.pie__direccion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1rem;
}

/* Información Principal */
.principal__info{
    height: 15rem;
    padding: 2rem 2rem 0 2rem;
    text-align: center;
}

.principal__info-texto{
    text-align: justify;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}
.principal__botones{
    height: 68%;
    display: flex;
    flex-direction: column;
    /* padding: 0 0 0 19rem; */
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}
.principal__botones-boton1{
    height: 19rem;
}
.principal__botones-boton1 button{
    background-color: var(--azul);
    color: white;
    height: 17rem;
    width: 14rem;
    border-radius: 2rem;
}
.principal__botones-boton1 button img{
    filter: opacity(0.155) drop-shadow(0 0 0 white); 

}
.principal__botones-boton1 button p{
    padding-bottom: 2rem;
    font-size: 2rem;
    font-family: Verdana, sans-serif;
}
.principal__botones-boton2{
    height: 12rem;
}
.principal__botones-boton2 button{
    background-color: var(--rojo);
    color: white;
    height: 17rem;
    width: 14rem;
    border-radius: 2rem;
}
.principal__botones-boton2 button p{
    padding-bottom: 2rem;
    font-size: 2rem;
    font-family: Verdana, sans-serif;
}
.principal__botones-boton2 button img{
    filter: opacity(0.155) drop-shadow(0 0 0 white); 
}

/* Redes Sociales */
.principal__redes{
    list-style: none;
    display: flex;
    justify-content: center;
    height: 10rem;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.principal__redes-gmail img{
    height: 2.4rem;
    width: 2.4rem;
}
.principal__redes-instagram img{
    height: 2.4rem;
    width: 2.4rem;
}


.pie__direccion-titulo{
    order: 1;
    font-size: 1.2rem;
}
.pie__direccion-textos{
    display: block;
    order: 2;
    font-size: 1rem;
}

.pie__empresa{
    margin-top: 4rem;
}

.pie__direccion-texto1{
    text-align: left;
}
.pie__direccion-texto2{
    text-align: left;
}