.cuerpo{
    width: auto;
    margin: 0 auto;
}

.cabecera{
    width: 100%;
    height: 27rem;
    background-image: url(https://imageshack.com/i/poaxZsECj) ;
    opacity: 0.9;
    background-size: cover;
    background-position: center center;
}

.principal{
    width: 100%;
    margin: 0% auto;
    display: flex;
}

.pie{
    width: 72%;
    margin: 0 auto;
}

.principal__mision{
    order: 2;
    height: 48rem;
}

.principal__vision{
    order: 3;
    height: 48rem;
}

.principal__redes{
    height: 100%;
    width: 2rem;
    order: 1;
}
.principal__direccion{
    height: 100%;
    width: 2rem;
    order: 4;
    padding-top: 13rem;
}

.cabecera__logo{
    height: 7rem;
    width: 7rem;
    margin-left: 5rem;
}

.enlace{
    position: absolute;
    padding: 1rem 1rem;
}

.cabecera__titulo{
    color:white;
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem 1rem;
}

.cabecera__redes{
    display: none;
}

.cabecera__horario{
    display: none;
}

nav{
    width: 100%;
}

nav ul{
    text-align: right;
    position: inherit;
    height: inherit;
    float: right;
    background: transparent;
}

nav ul li{
    display: inline-block;
    line-height: 5rem;
    margin: 0 4rem;
    text-align: center;
}

nav ul li a{
    font-size: 1.8rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem 1rem;
    border-radius: 0.3rem;
}

nav ul li a::after{
    display: none;
}

li a:hover{
    background: white;
    color: black;
}

.checkbtn{
    font-size: 3rem;
    color: white;
    float: right;
    margin-top: 1rem;
    line-height: 3rem;
    margin-right: 1rem;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.pie__direccion{
    padding-top: 5rem;
    height: 19rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.pie__direccion-titulo{
    font-size: 1.3rem;
}
.pie__direccion-textos{
    font-size: 1.2rem;
}
.pie__empresa{
    font-size: 1.9rem;
    margin-top: 5rem;
    justify-content: center;
}
/* Redes Sociales */
.principal__redes{
    flex-direction: column;
    text-align: center;
    margin-top: 18rem; 
}
.principal__redes-facebook{
    padding-bottom: 2rem;
}
.principal__redes-gmail{
    padding-bottom: 2rem;
}
.principal__redes-instagram{
    padding-bottom: 2rem;
}
.principal__redes-whatsapp{
    padding-bottom: 2rem;
}
.principal__redes ul::after{
    content: "_____________________";
    transform: rotate(-90deg);
    font-weight: bold;
    margin-top: 9rem;
    font-size: 1.6rem;
    margin-right: 1.8rem;
}
.principal__direccion .principal__direccion-p1::after{
    display: inherit;
    content: "Encuéntranos en:";
    transform: rotate(-270deg);
    font-weight: bold;
    margin-top: 9rem;
    font-size: 1.4rem;
    margin-right: 1.8rem;
    width: inherit;
}
.principal__direccion .principal__direccion-p2::after{
    display: inherit;
    content: "Av. Vía de";
    transform: rotate(-270deg);
    font-weight: bold;
    margin-top: 9.5rem;
    font-size: 1.4rem;
    margin-right: 1.8rem;
    width: inherit;
}
.principal__direccion .principal__direccion-p3::after{
    display: inherit;
    content: "Evitamiento Sur";
    transform: rotate(-270deg);
    font-weight: bold;
    margin-top: 5rem;
    font-size: 1.4rem;
    margin-right: 1.8rem;
    width: inherit;
}
.principal__direccion .principal__direccion-p4::after{
    display: inherit;
    content: "1960";
    transform: rotate(-270deg);
    font-weight: bold;
    margin-top: 9rem;
    font-size: 1.4rem;
    margin-right: 1.8rem;
    width: inherit;
}
.principal__direccion .principal__direccion-p5::after{
    display: inherit;
    content: "_____________________";
    transform: rotate(-270deg);
    font-weight: bold;
    margin-top: 4rem;
    font-size: 1.6rem;
    text-align: center;
}
.principal__mision{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 49rem;
    width: 100%;
}

.principal__vision{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 49rem;
    width: 100%;
}
.principal__vision-titulo{
    order: 1;

}
.principal__vision-texto{
    order: 2;
    min-height: 2rem;
}