.cuerpo{
    width: auto;
    margin: 0 auto;
}

.cabecera{
    width: 100%;
}

.principal{
    width: 100%;
    margin: 0% auto;
    display: flex;
}

.pie{
    width: 72%;
    margin: 0 auto;
}

.principal__mision{
    order: 2;
    height: 48rem;
}

.principal__vision{
    order: 3;
    height: 48rem;
}

.principal__redes{
    height: 100%;
    width: 2rem;
    order: 1;
}
.principal__direccion{
    height: 100%;
    width: 2rem;
    order: 4;
}

.pie__direccion{
    padding: 0rem 0rem;
}

.pie__direccion-titulo{
    font-size: 1.3rem;
    margin-top: 5rem;
    padding-left: 10rem;
}
.pie__direccion-textos{
    font-size: 1.2rem;
    margin-top: 5rem;

}
.pie__empresa{
    font-size: 1.9rem;
    margin-top: 7rem;
    justify-content: center;
}
